<div class="footer row bg-dark text-light py-2">    

    <div class="col-12 col-lg-4">
        <div class="container-brand">
            <img class="logo" src="assets/img/logo-2.png" alt="">
            <p>Tenemos la mejor experiencia en hospedaje para ti y los tuyos.</p>
            <!--Redes-->
            <div class="redes mt-4">
                <a class="btn p-1 mx-2" href="#">
                    <img src="assets/img/footer/facebook.png" alt="">
                </a>
                <a class="btn p-1 mx-2" href="#">
                    <img src="assets/img/footer/instagram.png" alt="">
                </a>
                <a class="btn p-1 mx-2" href="#">
                    <img src="assets/img/footer/twitter.png" alt="">
                </a>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-4">

        <div class="sub-title text-center">
            <h3>Servicios: </h3>
        </div>

        <ul class="navbar-nav">
            <li class="link">
                <a href="reserva" class="btn">Reserva</a>
            </li>
            <li class="link">
                <a href="servicios" class="btn">Servicios Extra</a>
            </li>
            <li class="link">
                <a href="#" class="btn">Nosotros</a>
            </li>
            <li class="link">
                <a href="contacto" class="btn">Contanto</a>
            </li>
        </ul>
    </div>

    <div class="col-12 col-lg-4">
        <div class="container-contact">

            <div class="sub-title mb-4">
                <h3>Contactanos</h3>
            </div>
    
            <p class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#4859A8" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                  </svg>
                Carrera xx entre calle xx y xx. Barquisimeto, Lara
            </p>
            <p class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#4859A8" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                    <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                  </svg>
                Correo: emailemail.com
            </p>
            <p class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#4859A8" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                  </svg>
                Telf: xxxx - xxxxxxxxxx
            </p>
            <p class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#4859A8" class="bi bi-phone-fill" viewBox="0 0 16 16">
                    <path d="M3 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V2zm6 11a1 1 0 1 0-2 0 1 1 0 0 0 2 0z"/>
                  </svg>
                Movil: xxxx - xxxxxxxxxx
            </p>
    
        </div>
        </div>
    
</div>

<div class="row py-4 bg-primary">
    <p class="text-center text-light">© 2023 Demo Hotel. Todos los Derechos Reservados</p>
</div>